body {
    background-color: #3a007a; /* Roxo estrelado */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: white;
    text-align: center;
}

.envelope {
    position: relative;
    cursor: pointer;
}

.envelope img {
    width: 200px;
    height: auto;
}

.click-text {
    font-size: 16px;
    margin-top: 10px;
}

.message {
    display: none;
    font-size: 24px;
    margin-top: 20px;
    position: relative;
}

.star {
    position: absolute;
    font-size: 20px;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}